language = "python3"
run = "python -m bot.main"
onBoot="echo Booting up!"

[packager]
ignoredPaths=[".git", ".github", ".log"]
ignoredPackages=["flask", "replit", "logging", "asyncpg", "asyncio", "requests"]
